.group1 {
    background-color: orange;
    border-radius: 20px;
  }
  
  .group2 {
    background-color: darkgreen;
  }
  
  .group3 {
    background-color: darkred;
  }
  .movies {
    padding: 5px;
    background-color: grey;
    border-radius: 20px;
    border-style: outset;
    h1 {
      text-align: center;
    }
  }
  